;; Analyzed by ClojureScript 1.7.170
{:use-macros {deftest devcards.core, defcard devcards.core}, :excludes #{}, :name hello-world.core, :imports nil, :requires {sab sablono.core, sablono.core sablono.core}, :uses nil, :require-macros {dc devcards.core, devcards.core devcards.core, sab sablono.core, sablono.core sablono.core}, :cljs.analyzer/constants {:seen #{:path :my-first-card :func :name :documentation :second-card :main-obj :hello_world.core :initial-data :options :data}, :order [:path :func :hello_world.core :my-first-card :name :documentation :main-obj :initial-data :options :second-card :data]}, :doc nil}